@font-face {
    font-family: 'Pricedown';
    font-style: normal;
    font-weight: normal;
    color: white;
    src: local('pricedown'), url('https://github.com/infin1tyy/pricedown-font-web/blob/master/pricedown.otf') format('opentype');
}
